body {
  background: gray;
  width: 1000px;
  height: 600px;
  margin: auto;
}


#parent {
  padding: 5%;
  border: black solid;
  background: blue;
  
  /*margin-left: auto;*/
  margin: auto;
  height: 25%;
  width: 50%;
  position: absolute;
  /*height: 400px;
  width: 800px*/;
}

.time{
  height: 20px;
  width: 20px;
  background: gray;
  border: black solid;
  margin: auto;
  display: block;
}
